version: "3.7"
services:
  node1:
    container_name: xpla-localnet-validator1

    build:
      context: ../.
      target: runtime

    volumes:
      - ~/genesis:/genesis:rw

    ports:
      - "18545:8545"
      - "19090:9090"
      - "36656:26656"
      - "36657:26657"
    
    entrypoint: sh -c "MONIKER=validator1 XPLAHOME=$XPLAHOME sh /opt/integration_test/entrypoint_master.sh"
    
    networks:
      vpcbr:
        ipv4_address: 192.167.100.1

  node2:
    container_name: xpla-localnet-validator2

    volumes:
      - ~/genesis:/genesis:ro

    depends_on:
      - node1

    build:
      context: ../.
      target: runtime

    ports:
      - "18555:8545"
      - "19100:9090"
      - "36666:26656"
    
    entrypoint: sh -c "MONIKER=validator2 XPLAHOME=$XPLAHOME sh /opt/integration_test/entrypoint_secondary.sh"
    
    networks:
      vpcbr:
        ipv4_address: 192.167.100.2

  node3:
    container_name: xpla-localnet-validator3

    volumes:
      - ~/genesis:/genesis:ro

    depends_on:
      - node1

    build:
      context: ../.
      target: runtime

    ports:
      - "18565:8545"
      - "19110:9090"
      - "36676:26656"
    
    entrypoint: sh -c "MONIKER=validator3 XPLAHOME=$XPLAHOME sh /opt/integration_test/entrypoint_secondary.sh"
    
    networks:
      vpcbr:
        ipv4_address: 192.167.100.3

  node4:
    container_name: xpla-localnet-validator4

    volumes:
      - ~/genesis:/genesis:ro

    depends_on:
      - node1

    build:
      context: ../.
      target: runtime

    ports:
      - "18575:8545"
      - "19120:9090"
      - "36686:26656"
    
    entrypoint: sh -c "MONIKER=validator4 XPLAHOME=$XPLAHOME sh /opt/integration_test/entrypoint_secondary.sh"
    
    networks:
      vpcbr:
        ipv4_address: 192.167.100.4

  node5:
    container_name: xpla-localnet-validator5

    volumes:
      - ~/genesis:/genesis:ro

    depends_on:
      - node1

    build:
      context: ../.
      target: runtime

    ports:
      - "18585:8545"
      - "19130:9090"
      - "36696:26656"
    
    entrypoint: sh -c "MONIKER=validator5_experimental XPLAHOME=$XPLAHOME sh /opt/integration_test/entrypoint_secondary.sh"
    
    networks:
      vpcbr:
        ipv4_address: 192.167.100.5

  node-zeroreward-1:
    container_name: xpla-localnet-zeroreward1

    volumes:
      - ~/genesis:/genesis:ro

    depends_on:
      - node1

    build:
      context: ../.
      target: runtime

    ports:
      - "18595:8545"
      - "19140:9090"
      - "36706:26656"
    
    entrypoint: sh -c "MONIKER=zeroreward_validator1 XPLAHOME=$XPLAHOME sh /opt/integration_test/entrypoint_secondary.sh"
    
    networks:
      vpcbr:
        ipv4_address: 192.167.100.6

  node-zeroreward-2:
    container_name: xpla-localnet-zeroreward2

    volumes:
      - ~/genesis:/genesis:ro

    depends_on:
      - node1

    build:
      context: ../.
      target: runtime

    ports:
      - "18605:8545"
      - "19150:9090"
      - "36716:26656"
    
    entrypoint: sh -c "MONIKER=zeroreward_validator2 XPLAHOME=$XPLAHOME sh /opt/integration_test/entrypoint_secondary.sh"
    
    networks:
      vpcbr:
        ipv4_address: 192.167.100.7

  node-zeroreward-3:
    container_name: xpla-localnet-zeroreward3

    volumes:
      - ~/genesis:/genesis:ro

    depends_on:
      - node1

    build:
      context: ../.
      target: runtime

    ports:
      - "18615:8545"
      - "19160:9090"
      - "36726:26656"
    
    entrypoint: sh -c "MONIKER=zeroreward_validator3 XPLAHOME=$XPLAHOME sh /opt/integration_test/entrypoint_secondary.sh"
    
    networks:
      vpcbr:
        ipv4_address: 192.167.100.8


networks:
  vpcbr:
    driver: bridge
    ipam:
     config:
       - subnet: 192.167.0.0/16
