name: Go

on:
  push:
    branches: [ "main", "cube", "tesseract", "release/*" ]
  pull_request:
    branches: [ "*" ]

jobs:

  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        go-version: [1.18.x, 1.19.x]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go-version }}

    - name: Protogen test
      run: make proto-gen

    - name: Test
      run: |
        go mod tidy
        make test
