name: End-to-end test

on:
  push:
    branches: [ "main", "cube", "tesseract", "release/*" ]
  pull_request:
    branches: [ "*" ]

jobs:

  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3

    - name: Setup network
      run: |
        mkdir ~/genesis
        cd tests/e2e && docker compose up -d
        docker ps
        sleep 20

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.20.x

    - name: End-to-end test
      run: cd tests/e2e && go test

    - name: Teardown
      run: cd tests/e2e && docker compose down
